Complete flow
[{"id":"647934274e6a06d4","type":"tcp in","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","name":"","server":"client","host":"192.168.8.68","port":"6638","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":140,"y":1740,"wires":[["7199e50dc7962941","a8a3afbb1935c51f"]]},{"id":"7199e50dc7962941","type":"function","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","name":"Process data","func":"let buffer = context.get('serialBuffer') || Buffer.alloc(0);\nif (msg.payload) {\n    const newChunk = Buffer.isBuffer(msg.payload) ? msg.payload : Buffer.from(msg.payload);\n    buffer = Buffer.concat([buffer, newChunk]);\n}\n\nlet rack = flow.get('t58_rack') || {};\nlet updated = false;\n\nfunction initModule(id) {\n    if (!rack[id]) {\n        rack[id] = {\n            info: { voltage: \"0.00\", soc: 0, current: \"0.00\", cycles: 0, capacity_wh: 0, total_v_calc: \"0.00\", temp_pcb: \"0.0\" },\n            cells: {},\n            temps: {},\n            lastUpdate: \"\"\n        };\n    }\n}\n\nlet pos;\nwhile ((pos = buffer.indexOf(Buffer.from([13, 10]))) !== -1) {\n    let frame = buffer.slice(0, pos);\n    buffer = buffer.slice(pos + 2);\n    \n    if (frame.length < 5) continue;\n\n    const id = frame[0];\n    const fc = frame[1];\n    const len = frame[2];\n\n    if (id >= 1 && id <= 6 && fc === 0x03) {\n        initModule(id);\n\n        // --- 1. TELEMETRIE NEBO TEPLOTY (len 16) ---\n        if (len === 16 && frame.length >= 19) {\n            let testVal = frame.readInt16BE(3); // Změna na signed podle Javy\n\n            if (testVal === 0) {\n                rack[id].info.voltage = (frame.readUInt16BE(5) / 500).toFixed(2);\n                rack[id].info.current = (frame.readInt16BE(9) / 100).toFixed(2);\n                rack[id].info.soc = Math.floor((frame[8] * 100) / 250);\n                rack[id].info.lastUpdate = new Date().toLocaleTimeString('cs-CZ');\n                updated = true;\n            }\n            else if (testVal > 500 && testVal < 6000) {\n                rack[id].info.temp_pcb = (frame.readInt16BE(3) / 100).toFixed(1);\n                rack[id].temps = {};\n                for (let i = 1; i < 8; i++) {\n                    let tRaw = frame.readInt16BE(3 + i * 2);\n                    if (tRaw !== 0) {\n                        rack[id].temps[`t${i}`] = (tRaw / 100).toFixed(1);\n                    }\n                }\n                updated = true;\n            }\n        }\n\n// --- 2. NAPĚTÍ ČLÁNKŮ (len 18) ---\n        else if (len === 18 && frame.length >= 21) {\n            let firstCellRaw = frame.readInt16BE(3);\n            if (Math.abs(firstCellRaw) > 2000) {\n                \n                // Určení offsetu (0 nebo 9)\n                // Pokud už v c1 něco máme, zkusíme, jestli tento paket patří do c10-c18\n                let offset = 0;\n                \n                // Logika: Pokud už máme uložený článek 1 a tento nový paket má \n                // buď jiné ID požadavku (vnitřní logika střídače), \n                // nebo jsme v předchozím kroku zapsali offset 0, dáme teď 9.\n                if (rack[id]._lastOffset === 0) {\n                    offset = 9;\n                } else {\n                    offset = 0;\n                }\n                \n                // Uložíme si, co jsme právě zapsali, pro příští otočku\n                rack[id]._lastOffset = offset;\n\n                for (let i = 0; i < 9; i++) {\n                    let vRaw = frame.readInt16BE(3 + i * 2);\n                    let v = (vRaw / 1000).toFixed(3);\n                    rack[id].cells[`c${i + 1 + offset}`] = v;\n                }\n\n                // Přepočet celkového napětí\n                let total = 0;\n                for (let k in rack[id].cells) {\n                    let val = parseFloat(rack[id].cells[k]);\n                    if (!isNaN(val)) total += val;\n                }\n                \n                rack[id].info.total_v_calc = total.toFixed(2);\n                updated = true;\n            }\n        }\n        \n                \n        // --- 3. KAPACITA, CYKLY A BALANCER (len 10) ---\n        else if (len === 10 && frame.length >= 13) {\n            // Balancer bity (Registr 34 - první 2 bajty dat)\n            let balRaw = frame.readUInt16BE(3);\n            rack[id].balancers = balRaw.toString(2).padStart(18, '0');\n\n            // Kapacita (Registr 36 - bajty 7-8)\n            let rawCap = frame.readInt16BE(7);\n            if (rawCap > 0) rack[id].info.capacity_wh = (rawCap / 10).toFixed(0);\n            \n            // Cykly (Registr 37 - bajty 9-10)\n            rack[id].info.cycles = frame.readInt16BE(9);\n            updated = true;        }\n    }\n}\n\ncontext.set('serialBuffer', buffer);\nif (updated) {\n    flow.set('t58_rack', rack);\n    msg.payload = rack;\n    return msg;\n}\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1740,"wires":[["9fb790655d835c13","fab6f1797968e408"]]},{"id":"a8a3afbb1935c51f","type":"debug","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","name":"show flow","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":360,"y":1780,"wires":[]},{"id":"fab6f1797968e408","type":"delay","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":580,"y":1740,"wires":[["3c9d5a70cb4fe269","68435910f0769912"]]},{"id":"9fb790655d835c13","type":"delay","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":570,"y":1780,"wires":[["3d00dd4d05c8b27f"]]},{"id":"3d00dd4d05c8b27f","type":"debug","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","name":"debug 94","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":1780,"wires":[]},{"id":"3c9d5a70cb4fe269","type":"function","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","name":"parse to table","func":"let gMaxV = -1, gMinV = 999;\nlet gMaxT = -99, gMinT = 999;\nlet gMaxSOC = -1, gMinSOC = 101;\nlet gMaxTSensor = -99, gMinTSensor = 999;\n\nconst rows = Object.keys(msg.payload).map(key => {\n    const b = msg.payload[key];\n\n    // --- Napětí článků ---\n    const cellVals = Object.values(b.cells).map(v => parseFloat(v));\n    const rMaxV = Math.max(...cellVals);\n    const rMinV = Math.min(...cellVals);\n    if (rMaxV > gMaxV) gMaxV = rMaxV;\n    if (rMinV < gMinV) gMinV = rMinV;\n\n    // --- SOC ---\n    const currentSOC = parseInt(b.info.soc);\n    if (currentSOC > gMaxSOC) gMaxSOC = currentSOC;\n    if (currentSOC < gMinSOC) gMinSOC = currentSOC;\n\n    // --- Teploty (Senzory T1-T7) ---\n    const tempVals = Object.values(b.temps).map(v => parseFloat(v));\n    const rMaxT = Math.max(...tempVals);\n    const rMinT = Math.min(...tempVals);\n    if (rMaxT > gMaxT) gMaxT = rMaxT;\n    if (rMinT < gMinT) gMinT = rMinT;\n\n    tempVals.forEach(v => {\n        if (v > gMaxTSensor) gMaxTSensor = v;\n        if (v < gMinTSensor) gMinTSensor = v;\n    });\n\n    return {\n        address: key,\n        cells: b.cells,\n        temps: b.temps,\n        highest: rMaxV.toFixed(3),\n        lowest: rMinV.toFixed(3),\n        maxCell: Object.keys(b.cells).find(k => parseFloat(b.cells[k]) === rMaxV),\n        minCell: Object.keys(b.cells).find(k => parseFloat(b.cells[k]) === rMinV),\n        temp_pcb: b.info.temp_pcb,\n        temp_max: rMaxT.toFixed(1),\n        temp_min: rMinT.toFixed(1),\n        voltage: b.info.voltage,\n        soc: currentSOC,\n        current: b.info.current,\n        capacity: b.info.capacity_wh,\n        cycles: b.info.cycles\n    };\n});\n\nmsg.payload = {\n    data: rows,\n    gMaxV: gMaxV.toFixed(3),\n    gMinV: gMinV.toFixed(3),\n    gMaxT: gMaxT.toFixed(1),\n    gMinT: gMinT.toFixed(1),\n    gMaxSOC: gMaxSOC,\n    gMinSOC: gMinSOC,\n    gMaxTSensor: gMaxTSensor.toFixed(1),\n    gMinTSensor: gMinTSensor.toFixed(1)\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1740,"wires":[["f1d66a0675b9bc22"]]},{"id":"f1d66a0675b9bc22","type":"ui_template","z":"a4bab272fd4ac31a","g":"2a37938efe4f5821","group":"947ece01dccf0246","name":"dashboard table","order":1,"width":18,"height":13,"format":"<style>\n    .pcb-table {\n        width: 100%;\n        border-collapse: collapse;\n        font-family: Arial, sans-serif;\n        font-size: 11px;\n        background-color: white;\n        color: black;\n        margin-bottom: 25px;\n    }\n\n    .pcb-table th,\n    .pcb-table td {\n        border: 1px solid #aaa;\n        text-align: center;\n        padding: 4px 1px;\n    }\n\n    .pcb-table thead th {\n        background-color: #f0f0f0;\n        font-weight: bold;\n    }\n\n    .addr-col {\n        background-color: #d9d9d9;\n        font-weight: bold;\n        width: 35px;\n    }\n\n    /* Barvy pro extrémy */\n    .bg-high {\n        background-color: #ff0000 !important;\n        color: white !important;\n        font-weight: bold;\n    }\n\n    .bg-low {\n        background-color: #0000ff !important;\n        color: white !important;\n        font-weight: bold;\n    }\n\n    /* Sytější šedá pro Balancer (bez tučného písma) */\n    .bg-balance {\n        background-color: #b0b0b0 !important;\n        color: black !important;\n    }\n\n    .table-title {\n        font-weight: bold;\n        margin-bottom: 8px;\n        font-size: 13px;\n        color: white;\n        padding-left: 0px;\n    }\n\n    .delta-inline {\n        font-weight: bold;\n        margin-left: 4px;\n    }\n\n    .sub-label {\n        display: block;\n        font-size: 11px;\n        font-weight: bold;\n        color: black;\n        padding-top: 3px;\n    }\n</style>\n\n<div class=\"table-title\">Module Information & Global Limits</div>\n<table class=\"pcb-table\">\n    <thead>\n        <tr>\n            <th rowspan=\"2\">Module</th>\n            <th rowspan=\"2\">Voltage (Pack)</th>\n            <th rowspan=\"2\">\n                SOC\n                <span class=\"sub-label\">ΔSOC: {{msg.payload.gMaxSOC - msg.payload.gMinSOC}}%</span>\n            </th>\n            <th rowspan=\"2\">Current</th>\n            <th rowspan=\"2\">Capacity</th>\n            <th rowspan=\"2\">Cycles</th>\n            <th rowspan=\"2\">Temp PCB</th>\n            <th colspan=\"4\" style=\"background-color: #e0e0e0\">\n                Cell info —\n                <span class=\"delta-inline\">ΔV: {{(msg.payload.gMaxV - msg.payload.gMinV).toFixed(3)}}V</span>\n            </th>\n        </tr>\n        <tr>\n            <th style=\"background-color: #e8e8e8\">Temp min</th>\n            <th style=\"background-color: #e8e8e8\">Temp max</th>\n            <th style=\"background-color: #e0e0e0\">Cell Vmin</th>\n            <th style=\"background-color: #e0e0e0\">Cell Vmax</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"bat in msg.payload.data\">\n            <td class=\"addr-col\">{{bat.address}}</td>\n            <td>{{bat.voltage}}V</td>\n            <td>{{bat.soc}}%</td>\n            <td>{{bat.current}}A</td>\n            <td>{{bat.capacity}} Wh</td>\n            <td>{{bat.cycles}}</td>\n            <td>{{bat.temp_pcb}}°</td>\n            <td ng-class=\"{'bg-low': bat.temp_min == msg.payload.gMinT}\">{{bat.temp_min}}°</td>\n            <td ng-class=\"{'bg-high': bat.temp_max == msg.payload.gMaxT}\">{{bat.temp_max}}°</td>\n            <td ng-class=\"{'bg-low': bat.lowest == msg.payload.gMinV}\">{{bat.lowest}}V</td>\n            <td ng-class=\"{'bg-high': bat.highest == msg.payload.gMaxV}\">{{bat.highest}}V</td>\n        </tr>\n    </tbody>\n</table>\n\n<div class=\"table-title\">Detailed Cell Voltages [V]</div>\n<table class=\"pcb-table\">\n    <thead>\n        <tr>\n            <th rowspan=\"2\">Module</th>\n            <th colspan=\"18\">Cells</th>\n            <th colspan=\"2\">Limits</th>\n        </tr>\n        <tr>\n            <th ng-repeat=\"i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]\">C{{i}}</th>\n            <th>Cell Vmin</th>\n            <th>Cell Vmax</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"bat in msg.payload.data\">\n            <td class=\"addr-col\">{{bat.address}}</td>\n            <td ng-repeat=\"i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]\" ng-class=\"{\n                    'bg-high': bat.maxCell == 'c'+i, \n                    'bg-low': bat.minCell == 'c'+i,\n                    'bg-balance': bat.balancers[i-1] === '1' && bat.maxCell !== 'c'+i && bat.minCell !== 'c'+i\n                }\">\n                {{bat.cells['c'+i] || '-'}}\n            </td>\n            <td ng-class=\"{'bg-low': bat.lowest == msg.payload.gMinV}\">{{bat.lowest}}</td>\n            <td ng-class=\"{'bg-high': bat.highest == msg.payload.gMaxV}\">{{bat.highest}}</td>\n        </tr>\n    </tbody>\n</table>\n\n<div class=\"table-title\">Detailed Temperatures [°C]</div>\n<table class=\"pcb-table\">\n    <thead>\n        <tr>\n            <th rowspan=\"2\">Module</th>\n            <th colspan=\"7\">Sensors</th>\n            <th rowspan=\"2\" style=\"width: 65px;\">Temp PCB</th>\n            <th colspan=\"2\">Limits</th>\n        </tr>\n        <tr>\n            <th ng-repeat=\"i in [1,2,3,4,5,6,7]\">T{{i}}</th>\n            <th>Temp min</th>\n            <th>Temp max</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"bat in msg.payload.data\">\n            <td class=\"addr-col\">{{bat.address}}</td>\n            <td ng-repeat=\"i in [1,2,3,4,5,6,7]\" ng-class=\"{'bg-high': bat.temps['t'+i] == msg.payload.gMaxTSensor, \n                           'bg-low': bat.temps['t'+i] == msg.payload.gMinTSensor}\">\n                {{bat.temps['t'+i] ? bat.temps['t'+i] + '°' : '-'}}\n            </td>\n            <td>{{bat.temp_pcb}}°</td>\n            <td ng-class=\"{'bg-low': bat.temp_min == msg.payload.gMinT}\">{{bat.temp_min}}°</td>\n            <td ng-class=\"{'bg-high': bat.temp_max == msg.payload.gMaxT}\">{{bat.temp_max}}°</td>\n        </tr>\n    </tbody>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1000,"y":1740,"wires":[[]]},{"id":"947ece01dccf0246","type":"ui_group","name":"Battery details","tab":"e0ece646.152d78","order":11,"disp":true,"width":"18","collapse":false,"className":""},{"id":"e0ece646.152d78","type":"ui_tab","name":"FVE","icon":"wb_sunny","order":2,"disabled":false,"hidden":false},{"id":"8d69dfa2649547ad","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]
